html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "banner banner" "col1 col2";
  grid-gap: 1rem;
  padding: 1rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

h1 {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-self: end;
  margin: 1rem;
}

header img {
  grid-area: banner;
}

main {
  display: contents;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
  padding: 1rem;
}

figure:nth-of-type(1) {
  grid-area: col1;
  margin: 0;
}

figure:nth-of-type(2) {
  grid-area: col2;
  margin: 0;
}
